.key{
    display: flex;
    border: 1px solid;
    width: 300px;
    padding: 9px;
}

.button{
  
    padding-top: 30px;
    padding-left:40px;
    height: 28px;

}
.box1{
    border: 1px solid;
    align-content: center;
    padding: 9px;
}